# Backend API URL
# Local: http://localhost:8000/api
# Production: https://mindo-backend-1.onrender.com/api
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=198865614594-6qejt6hv4n0uqh9f5sfmtphrc36f7n3p.apps.googleusercontent.com